
button{
    background-color: blueviolet;
    color: white;
    width:250px;
    height:40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
button:hover{
    background-color:rgb(218, 185, 248);
    color: blueviolet;
}
#main-div{
    text-align: center;
}

#git{
    align-items: center;
}